﻿@using VinCity.Models.Entities;
@using VinCity.CMS.Common;
@model IEnumerable<Article>
@{

    List<Article> lstArticleOlder = new List<Article>();
    if (ViewBag.ArticleOlder != null)
    {
        lstArticleOlder = (List<Article>)ViewBag.ArticleOlder;
    }
}


<section data-id="54df52f3" class="elementor-element elementor-element-54df52f3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section jet-parallax-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
            <div data-id="14d2e6f7" class="elementor-element elementor-element-14d2e6f7 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div data-id="2a86d406" class="elementor-element elementor-element-2a86d406 animated elementor-widget elementor-widget-heading fadeInDown" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-element_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default"><a title="Tin tức" href="#">Tin tức</a> &amp; Sự kiện</h2>
                            </div>
                        </div>
                        <div data-id="327bb115" class="elementor-element elementor-element-327bb115 animated elementor-widget elementor-widget-divider fadeInDown" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-element_type="divider.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div data-id="4577566c" class="elementor-element elementor-element-4577566c animated elementor-widget elementor-widget-text-editor fadeInDown" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-element_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix"><p>Chúng tôi luôn mang đến những thông tin và <a title="chính sách" href="#">chính sách</a> mới nhất về dự án <a href="#">Vi</a>ncity Athena Gia Lâm.</p></div>
                            </div>
                        </div>
                        <div data-id="2410cc4a" class="elementor-element elementor-element-2410cc4a elementor-grid-4 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-posts--align-center animated elementor-widget elementor-widget-posts fadeInUp" data-settings="{&quot;classic_columns&quot;:&quot;4&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;}" data-element_type="posts.classic">
                            <div class="elementor-widget-container">
                                <div class="elementor-posts-container elementor-posts elementor-grid elementor-posts--skin-classic elementor-has-item-ratio">
                                    @foreach (Article item in lstArticleOlder)
                                    {
                                        <article class="elementor-post elementor-grid-item post-19892 post type-post status-publish format-standard has-post-thumbnail hentry ast-article-single">
                                            <a class="elementor-post__thumbnail__link" href="@Url.Action("Details","News",new { id = SlugHelper.GenerateSlug(item.Id, item.Title) })">
                                                <div class="elementor-post__thumbnail elementor-fit-height">
                                                    <img width="300" height="164" src="~/Uploads/TinTuc/@item.ThumbURL" class="attachment-medium size-medium" alt="" sizes="(max-width: 300px) 100vw, 300px">
                                                </div>
                                            </a>
                                            <div class="elementor-post__text">
                                                <h4 class="elementor-post__title">
                                                    <a href="@Url.Action("Details","TinTuc",new { id = SlugHelper.GenerateSlug(item.Id, item.Title) })">
                                                        @item.Title
                                                    </a>
                                                </h4>
                                                <div class="elementor-post__meta-data">
                                                    <span class="elementor-post-author">
                                                        @if (item.CreateBy != null)
                                                        {
                                                            @item.CreateBy
                                                        }
                                                    </span>
                                                    <span class="elementor-post-date">
                                                        @item.CreateAt
                                                    </span>
                                                </div>
                                                <div class="elementor-post__excerpt">
                                                    <p>@Html.Raw(item.Summary)</p>
                                                </div>
                                            </div>
                                        </article>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
