﻿@using VinCity.Models.Entities;
@using VinCity.CMS.Areas.Admin.Models;
@model ArticleViewModel

@{
    ViewBag.Title = "Thêm mới bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section HeaderScript{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>

    <link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/Articles">Danh sách bài viết</a>
        </li>
        <li class="">
            Thêm mới bài viết
        </li>
    </ul>
}
<div class="page-header">
    <h1>Thêm mới bài viết</h1>
</div>

@using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Tiêu đề</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.articleInfo.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.articleInfo.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2">Tiêu đề tiếng Anh</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.articleInfo.Title_EN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.articleInfo.Title_EN, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Chuyên mục</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.articleInfo.CategoryId, (SelectList)ViewBag.CategoryId, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.articleInfo.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tóm tắt</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Summary, new { @id = "Summary" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.

                    var editor = CKEDITOR.replace('Summary', {
                        enterMode: CKEDITOR.ENTER_BR,
                    });
                    CKFinder.setupCKEditor(null,'@Url.Content("~/Content/ckfinder/")');

                    //CKEDITOR.replace('Summary', {
                    //    filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                    //    filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                    //    filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                    //    filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    //});
                </script>
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2">Tóm tắt tiếng Anh</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Summary_EN, new { @id = "Summary_EN" })
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.

                    var editor = CKEDITOR.replace('Summary_EN', {
                        enterMode: CKEDITOR.ENTER_BR,
                    });
                    CKFinder.setupCKEditor(null,'@Url.Content("~/Content/ckfinder/")');

                    //CKEDITOR.replace('Summary', {
                    //    filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                    //    filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                    //    filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                    //    filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    //});
                </script>
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Chi tiết bài viết</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @id = "Description" })
                <script>
                    //Replace the <textarea id="editor1"> with a CKEditor
                    //instance, using default configuration.
                    //CKEDITOR.replace('Description', {
                    //    filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                    //    filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                    //    filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                    //    filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    //});

                    var editor = CKEDITOR.replace('Description', {
                        enterMode: CKEDITOR.ENTER_BR,
                    });
                    CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
                </script>
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2">Chi tiết bài viết tiếng Anh</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description_EN, new { @id = "Description_EN" })
                <script>
                    //Replace the <textarea id="editor1"> with a CKEditor
                    //instance, using default configuration.
                    //CKEDITOR.replace('Description', {
                    //    filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                    //    filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                    //    filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                    //    filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    //});

                    var editor = CKEDITOR.replace('Description_EN', {
                        enterMode: CKEDITOR.ENTER_BR,
                    });
                    CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
                </script>
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Ảnh tiêu đề</label>
            <div class="col-md-10">
                <input type="file" name="files" id="files" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Trạng thái</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.articleInfo.Status, (SelectList)ViewBag.Status, new { @class = "form-control", @style = "witdth:150px;" })
                @Html.ValidationMessageFor(model => model.articleInfo.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-info btn-sm" />
                &nbsp;&nbsp;
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $('#frmCreate').on('submit', function () {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });
</script>
